<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trees GL</title>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.37.0/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    <nav id="currentYear"></nav>
    <div id="map"></div>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>

    <style>
        #currentYear {
            position: absolute;
            z-index: 1;
            top: 10px;
            right: 10px;
            width: 120px;
            font-size: 22px;
            font-family: sans-serif;
        }
    </style>
</body>
</html>